rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Fonction pour vérifier si l'utilisateur est administrateur
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }
    
    // Fonction pour vérifier si l'utilisateur est connecté
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Règles pour les images publiques
    match /banners/{allPaths=**} {
      allow read: if true; // Tout le monde peut lire les images des bannières
      allow write: if isAdmin(); // Seuls les administrateurs peuvent modifier
    }
    
    match /collections/{allPaths=**} {
      allow read: if true; // Tout le monde peut lire les images des collections
      allow write: if isAdmin(); // Seuls les administrateurs peuvent modifier
    }
    
    match /instagram/{allPaths=**} {
      allow read: if true; // Tout le monde peut lire les images Instagram
      allow write: if isAdmin(); // Seuls les administrateurs peuvent modifier
    }
    
    // Règles pour les images des produits
    match /products/{allPaths=**} {
      allow read: if true; // Tout le monde peut lire les images des produits
      allow write: if isAdmin(); // Seuls les administrateurs peuvent modifier
    }
    
    // Règles pour les avatars des utilisateurs
    match /avatars/{filename} {
      allow read: if true; // Tout le monde peut voir les avatars
      allow write: if isAuthenticated() && (
        // Vérifier que le nom du fichier commence par l'ID de l'utilisateur qui fait la requête
        filename.matches(request.auth.uid + '_.*')
      );
      allow delete: if isAuthenticated() && (
        // Vérifier que le nom du fichier commence par l'ID de l'utilisateur qui fait la requête
        filename.matches(request.auth.uid + '_.*') || isAdmin()
      );
    }
    
    // Règles pour les images de profil des utilisateurs
    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated() && (userId == request.auth.uid || isAdmin());
    }
    
    // Règles pour les autres fichiers
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
